<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CalcServlet</servlet-name>
        <servlet-class>co.edu.unipiloto.servlet.CalcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaServlet</servlet-name>
        <servlet-class>co.edu.unipiloto.servlet.RestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplicacionServlet</servlet-name>
        <servlet-class>co.edu.unipiloto.servlet.MultiplicacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DivisionServlet</servlet-name>
        <servlet-class>co.edu.unipiloto.servlet.DivisionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuloServlet</servlet-name>
        <servlet-class>co.edu.unipiloto.servlet.ModuloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuadradoServlet</servlet-name>
        <servlet-class>co.edu.unipiloto.servlet.CuadradoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalcServlet</servlet-name>
        <url-pattern>/CalcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaServlet</servlet-name>
        <url-pattern>/RestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplicacionServlet</servlet-name>
        <url-pattern>/MultiplicacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DivisionServlet</servlet-name>
        <url-pattern>/DivisionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuloServlet</servlet-name>
        <url-pattern>/ModuloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuadradoServlet</servlet-name>
        <url-pattern>/CuadradoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
